# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# production / build
dist/
build/

# logs
logs/
*.log

# testing
coverage/
.nyc_output/

# env files
.env*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# temp/cache
.cache/
tmp/
temp/

# uploads
uploads/